// variables 

$tablet: 786px;
$laptop: 1440px;

// colors 

$softCyan:hsl(174, 77%, 80%) ;
$strongCyan: hsl(174, 86%, 45%);
$lightGrayishRed: hsl(14, 92%, 95%);
$lightRed: hsl(15, 100%, 70%);
$paleBlue: hsl(226, 100%, 87%);

$white: hsl(0, 0%, 100%);
$veryPaleBlue: hsl(230, 100%, 99%);
$lightGrayishBlue: hsl(224, 65%, 95%);
$lightGrayishBlueV2: hsl(223, 50%, 87%);
$grayishBlue: hsl(225, 20%, 60%);
$darkDesaturatedBlue: hsl(227, 35%, 25%);

// fonts

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

$fontSize: 15px;
$fontFamily: 'Manrope', 'sans-serif';
$regular: 600;
$bold: 800;

// media queries

$laptop: 1200px;
$tablet: 768px;
// reset

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: $fontFamily;
}

ul {
    list-style: none;
}