.pricing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 3rem;
    align-items: center;
    text-align: center;
    font-size: $fontSize;
    padding: 1rem;
     background-color: hsl(222, 87%, 97%);
    &__paragraph {
        font-size: 12px;
        color: $grayishBlue;
        margin-top: .5rem;
        padding: 0 4.5rem;

    }
    &__wrapper {
        position: relative;
        padding: 1rem;
        font-size: 14px;
        width: 100%;
        &::after{
            content: "";
            background: url("../images/pattern-circles.svg") center / contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
        }
    }
}

.card {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    background-color: $white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__header {
        text-transform: uppercase;
        font-size: 12px;
        color: $grayishBlue;
        letter-spacing: 2px;
        &__inner {
            display: none;
            @media (min-width: $laptop) {
                display: inline;
            }
        }
        &--grid {
            grid-row: 1/2;
            grid-column: 1/-1;
            @media (min-width: $laptop) {
                grid-column: 1/3;
            }
        }

        &--billing {
            text-transform: none;
            letter-spacing: normal;
        }
        &--discount {
            background-color: $lightGrayishRed;
            padding: .25rem .5rem;
            border-radius: 25px;
            color: $lightRed;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        align-items: center;
        grid-auto-rows: minmax(50px, auto);
        width: 100%;
    }


    &__toggle {
        position: relative;
        width: 45px;
        height: 20px;
        border-radius: 25px;
        margin: 0 .7rem;
        background-color: $lightGrayishBlue;
        &::after {
            content: "";
            position: absolute;
            top: 0%;
            left: 0%;
            width: 45px;
            height: 20px;
            border-radius: 25px;
            background-color: $strongCyan;
            opacity: 0;
            z-index: 1;
            transition: all .2s ease-in-out;
            
        }
        &::before {
            content: "";
            position: absolute;
            top: 10%;
            left: 10%;
            width: 15px;
            height: 80%;
            border-radius: 50%;
            background-color: $white;
            z-index: 2;
            transition: all .2s ease-in-out;
            cursor: pointer;
        }
    }
    &__billing {
        display: flex;
        align-items: center;
        justify-content: center;
        &__header {
            font-size: 12px;

        }
    }
    &__money {
        font-size: 28px;
        &-month {
            font-size: 15px;
            color: $grayishBlue;
        }
        &--grid {
            grid-row: 3/4;
            grid-column: 2/4;
            @media (min-width: $laptop) {
                grid-row: 1/2;
                grid-column: 3/-1;
            }
        }
    }
    &__input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 7px;
        outline: none;
        border-radius: 3px;
        background-color: $grayishBlue;
      
        &--grid {
            grid-row: 2/3;
            grid-column: 1/-1;
            @media (min-width: $laptop) {
                
            }
        }
    }
    &__trial {
        display: flex;
        flex-direction: column;
        @media (min-width: $laptop) {
            flex-direction: row;
            justify-content: space-between;

        }
    }
    &__list {
        line-height: 1.7rem;
        @media (min-width: $laptop) {
            padding-left: 3rem;
        }
        &__item {
            font-size: 12px;
            color: $grayishBlue;
            position: relative;
            width: 140px;
            margin: auto;
            &::before {
                content: url("../images/icon-check.svg");
                background-image: center/cover;
                width: 20px;
                height: 20px;
                position: absolute;
                left: -30%;

            }
            @media (min-width: $laptop) {
                text-align: left;
            }
        }


    }
    @media (min-width: $tablet) {
        width: 50vh;
    }
    @media (min-width: $laptop) {
        width: 40vw;
    }

}
.active {
    &::after {
        opacity: 1;
    }
    &::before {

    transform: translateX(140%);
}
}

.btn {
    width: fit-content;
    align-self: center;
    padding: .7rem 2rem;
    border-radius: 25px;
    border: none;
    background-color: $darkDesaturatedBlue;
    color: $grayishBlue;
    font-family: $paleBlue;
    font-weight: $regular;
    margin-top: 1.5rem;
    cursor: pointer;
}

