@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", "sans-serif";
}

ul {
  list-style: none;
}

.pricing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 3rem;
  align-items: center;
  text-align: center;
  font-size: 15px;
  padding: 1rem;
  background-color: hsl(222deg, 87%, 97%);
}
.pricing__paragraph {
  font-size: 12px;
  color: hsl(225deg, 20%, 60%);
  margin-top: 0.5rem;
  padding: 0 4.5rem;
}
.pricing__wrapper {
  position: relative;
  padding: 1rem;
  font-size: 14px;
  width: 100%;
}
.pricing__wrapper::after {
  content: "";
  background: url("../images/pattern-circles.svg") center/contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.card {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  background-color: hsl(0deg, 0%, 100%);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card__header {
  text-transform: uppercase;
  font-size: 12px;
  color: hsl(225deg, 20%, 60%);
  letter-spacing: 2px;
}
.card__header__inner {
  display: none;
}
@media (min-width: 1200px) {
  .card__header__inner {
    display: inline;
  }
}
.card__header--grid {
  grid-row: 1/2;
  grid-column: 1/-1;
}
@media (min-width: 1200px) {
  .card__header--grid {
    grid-column: 1/3;
  }
}
.card__header--billing {
  text-transform: none;
  letter-spacing: normal;
}
.card__header--discount {
  background-color: hsl(14deg, 92%, 95%);
  padding: 0.25rem 0.5rem;
  border-radius: 25px;
  color: hsl(15deg, 100%, 70%);
}
.card__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: center;
  grid-auto-rows: minmax(50px, auto);
  width: 100%;
}
.card__toggle {
  position: relative;
  width: 45px;
  height: 20px;
  border-radius: 25px;
  margin: 0 0.7rem;
  background-color: hsl(224deg, 65%, 95%);
}
.card__toggle::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 45px;
  height: 20px;
  border-radius: 25px;
  background-color: hsl(174deg, 86%, 45%);
  opacity: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.card__toggle::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 15px;
  height: 80%;
  border-radius: 50%;
  background-color: hsl(0deg, 0%, 100%);
  z-index: 2;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.card__billing {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__billing__header {
  font-size: 12px;
}
.card__money {
  font-size: 28px;
}
.card__money-month {
  font-size: 15px;
  color: hsl(225deg, 20%, 60%);
}
.card__money--grid {
  grid-row: 3/4;
  grid-column: 2/4;
}
@media (min-width: 1200px) {
  .card__money--grid {
    grid-row: 1/2;
    grid-column: 3/-1;
  }
}
.card__input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 7px;
  outline: none;
  border-radius: 3px;
  background-color: hsl(225deg, 20%, 60%);
}
.card__input--grid {
  grid-row: 2/3;
  grid-column: 1/-1;
}
.card__trial {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .card__trial {
    flex-direction: row;
    justify-content: space-between;
  }
}
.card__list {
  line-height: 1.7rem;
}
@media (min-width: 1200px) {
  .card__list {
    padding-left: 3rem;
  }
}
.card__list__item {
  font-size: 12px;
  color: hsl(225deg, 20%, 60%);
  position: relative;
  width: 140px;
  margin: auto;
}
.card__list__item::before {
  content: url("../images/icon-check.svg");
  background-image: center/cover;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30%;
}
@media (min-width: 1200px) {
  .card__list__item {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .card {
    width: 50vh;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 40vw;
  }
}

.active::after {
  opacity: 1;
}
.active::before {
  transform: translateX(140%);
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  padding: 0.7rem 2rem;
  border-radius: 25px;
  border: none;
  background-color: hsl(227deg, 35%, 25%);
  color: hsl(225deg, 20%, 60%);
  font-family: hsl(226deg, 100%, 87%);
  font-weight: 600;
  margin-top: 1.5rem;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */